section {
  height: 35px;
  background-color: blueviolet;
}

.container {
  margin: 0 var(--container);
  display: flex;
  justify-content: space-between;
}

.active {
  color: black !important;
  background-color: #d4a6ff !important;
}
.container button {
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 8px;
  width: 34%;
  height: 35px;
  cursor: pointer;
}
.container button span {
  font-size: 20px;
}