header {
  font-size: 18px;
  height: 60px;
  background-color: grey;
}

.container {
  margin: 0 200px;

  display: flex;
  align-items: center;
}

.btn {
  padding: 5px 10px;
}

.logo {
  transform: translateY(5px);
}

.logo a img {
  width: auto;
  height: 50px;
}

.main a {
  text-decoration: none;
  color: white;
}

