header {
  height: 60px;
  background-color: white;
}

.container {
  margin: 0 var(--container);
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.btn {
  font-family: system-ui;
  font-weight: 400;
  font-size: 16px;
  transform: translateY(3px);
  padding: 2px 16px 4px;
  background-color: white;
  border: 3px solid var(--purple);
  border-radius: 20px;
  cursor: pointer;
}

.logo {
  transform: translateY(5px);
  margin-right: 10px;
}

.logo a img {
  width: auto;
  height: 50px;
}

.main {
  margin-left: 16px;
}

.main a {
  text-decoration: none;
  color: white;
}

.support {
  margin-left: 16px;
}

.officies {
  margin-left: 16px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(3px);
}

.profile a {
  overflow: hidden;
  border: 3px solid var(--purple);
  border-radius: 20px;
}

.profile a img {
  transform: translateY(5px);
  height: 30px;
  width: auto;
}
