header {
  height: 60px;
}

.container {
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
}

.btn {
  font-family: system-ui;
  font-weight: 400;
  font-size: 16px;
  transform: translateY(3px);
  padding: 2px 16px 4px;
  margin-left: 16px;
  background-color: white;
  border: 3px solid var(--purple);
  border-radius: 20px;
  cursor: pointer;
}

.logo {
  transform: translateY(5px);
  margin-right: 10px;
}

.logo a img {
  width: auto;
  height: 50px;
}

.main a {
  text-decoration: none;
  color: white;
}

.profile {
}

.profile a {

  padding: 0 3px;
  border: 3px solid var(--purple);
  border-radius: 20px;
}

.profile a img {
  height: 30px;
  width: auto;
}
