/* declaring global constants to use inside module.css files */
:root {
  --purple: #462591;
  --lightpurple: #4e3096;
  --lighterpurple: #5f40a8;
  --lightestpurple: #7051b9;
  --container: 200px;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
}
